.main-layout {
  width: 100%;
  min-height: 100vh;
  flex: auto;

  .header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    .right-content {
      display: flex;
      gap: 20px;
      align-items: center;

      .logout-icon {
        color: #fff;
      }
    }
  }

  .content {
    padding: 0 50px;
    display: flex;
    flex-direction: column;

    .site-layout-content {
      flex: auto;
      min-height: 280px;
      padding: 24px;
      background: #fff;
    }
  }
}

.logout-popover {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
