.main-layout {
  width: 100%;
  min-height: 100vh;
  flex: auto;

  .logo {
    color: #fff;
  }

  .content {
    padding: 0 50px;
    display: flex;
    flex-direction: column;

    .site-layout-content {
      flex: auto;
      min-height: 280px;
      padding: 24px;
      background: #fff;
    }
  }
}
